# Titanic data set example

In [2]:
from bhad.utils import (discretize, mvt2mixture)
from bhad.model import BHAD
import numpy as np
import matplotlib.pyplot as plt
from importlib import reload
from sklearn.datasets import fetch_openml

In [3]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True, parser="pandas")
X.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
X_cleaned = X.drop(['body', 'cabin', 'name', 'ticket', 'boat'], axis=1).dropna()
y_cleaned = y[X_cleaned.index]

X_cleaned.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 684 entries, 0 to 1281
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     684 non-null    int64
 1   sex        684 non-null    category
 2   age        684 non-null    float64
 3   sibsp      684 non-null    int64
 4   parch      684 non-null    int64
 5   fare       684 non-null    float64
 6   embarked   684 non-null    category
 7   home.dest  684 non-null    object
dtypes: category(2), float64(2), int64(3), object(1)
memory usage: 38.9+ KB

Partition dataset:

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_cleaned, y_cleaned, test_size=0.33, random_state=42)

print(X_train.shape)
print(X_test.shape)

print(np.unique(y_train, return_counts=True))
print(np.unique(y_test, return_counts=True))

(458, 8)
(226, 8)
(array(['0', '1'], dtype=object), array([242, 216]))
(array(['0', '1'], dtype=object), array([122, 104]))

## Model explanation:

Retrieve local model explanations. Here: Specify all numeric and categorical columns explicitly

In [6]:
numeric_cols = list(X_train.select_dtypes(include=['float', 'int']).columns) 
cat_cols = list(X_train.select_dtypes(include=['object', 'category']).columns)
print(len(cat_cols+numeric_cols))

8

In [7]:
from sklearn.pipeline import Pipeline

pipe = Pipeline(steps=[
    ('discrete' , discretize(nbins = None, verbose = True)),     
    ('model', BHAD(contamination = 0.01, numeric_features = numeric_cols, cat_features = cat_cols))
])

y_pred_train = pipe.fit_predict(X_train)

-- Bayesian Histogram-based Anomaly Detector (BHAD) --

Reseting index of input dataframe.
Input shape: (458, 8)
Used 5 numeric feature(s) and 3 categorical feature(s).
Determining optimal number of bins for numeric features
Feature pclass using 49 bins
Determining optimal number of bins for numeric features
Feature age using 5 bins
Determining optimal number of bins for numeric features
Feature sibsp using 49 bins
Determining optimal number of bins for numeric features
Feature parch using 49 bins
Determining optimal number of bins for numeric features
Feature fare using 16 bins
Finished 'fit' in 0.0780 secs
Finished 'transform' in 0.0038 secs
Fit BHAD on discretized data.
Input shape: (458, 8)
One-hot encoding categorical features.
Finished 'fit' in 0.0097 secs
Finished 'transform' in 0.0526 secs
Matrix dimension after one-hot encoding: (458, 319)
Finished training.
Score input data.

In [8]:
from bhad import explainer

reload(explainer)

local_expl = explainer.Explainer(pipe.named_steps['model'], pipe.named_steps['discrete']).fit()

--- BHAD Model Explainer ---

Using fitted BHAD and fitted discretizer.
Marginal cdfs estimated using train set of shape (458, 8)

In [9]:
df_train, _ = local_expl.get_explanation()
df_train.shape

Create local explanations for 458 observations.

  0%|          | 0/458 [00:00<?, ?it/s]

Finished 'get_explanation' in 0.2168 secs

(458, 9)

In [10]:
y_pred_test = pipe.predict(X_test)
X_test.shape

Reseting index of input dataframe.
Finished 'transform' in 0.3337 secs

Score input data.
Apply fitted one-hot encoder.
Finished 'transform' in 0.0301 secs

(226, 8)

In [11]:
df_test, _ = local_expl.get_explanation()
df_test.shape

Create local explanations for 226 observations.

  0%|          | 0/226 [00:00<?, ?it/s]

Finished 'get_explanation' in 0.1049 secs

(226, 9)

In [12]:
X_test.dtypes

pclass          int64
sex          category
age           float64
sibsp           int64
parch           int64
fare          float64
embarked     category
home.dest      object
dtype: object

In [13]:
df_test #.head(2)

,pclass,sex,age,sibsp,parch,fare,embarked,home.dest,explanation
0,2.0,male,36.0,1.0,2.0,27.7500,S,"Bournmouth, England","home.dest (Perc.: 0.0): Bournmouth, England\np..."
1,1.0,male,49.0,1.0,1.0,110.8833,C,"Haverford, PA","home.dest (Perc.: 0.0): Haverford, PA\nfare (C..."
2,1.0,male,24.0,1.0,0.0,82.2667,S,"Minneapolis, MN","home.dest (Perc.: 0.0): Minneapolis, MN\nfare ..."
3,1.0,female,49.0,1.0,0.0,76.7292,C,"New York, NY","home.dest (Perc.: 0.0): New York, NY\nfare (Cu..."
4,3.0,female,10.0,5.0,2.0,46.9000,S,"Wiltshire, England Niagara Falls, NY",sibsp (Cumul.perc.: 1.0): 5.0\nhome.dest (Perc...
...,...,...,...,...,...,...,...,...,...
221,2.0,female,24.0,0.0,0.0,13.0000,S,"London / Montreal, PQ","home.dest (Perc.: 0.0): London / Montreal, PQ\..."
222,1.0,male,50.0,0.0,0.0,26.0000,S,London,home.dest (Perc.: 0.0): London
223,2.0,female,34.0,0.0,0.0,13.0000,S,"Brooklyn, NY","home.dest (Perc.: 0.0): Brooklyn, NY\nsex (Per..."
224,2.0,female,29.0,1.0,0.0,26.0000,S,"Cornwall / Spokane, WA","home.dest (Perc.: 0.0): Cornwall / Spokane, WA..."
225,1.0,female,44.0,0.0,0.0,27.7208,C,"Denver, CO","home.dest (Perc.: 0.0): Denver, CO\nsex (Perc...."

In [14]:
for obs, ex in enumerate(df_test.explanation.values):
    #if (obs % 10) == 0:
        print(f'\nObs. {obs}:\n', ex)

Obs. 0:
 home.dest (Perc.: 0.0): Bournmouth, England
parch (Cumul.perc.: 0.97): 2.0

Obs. 1:
 home.dest (Perc.: 0.0): Haverford, PA
fare (Cumul.perc.: 0.92): 110.88

Obs. 2:
 home.dest (Perc.: 0.0): Minneapolis, MN
fare (Cumul.perc.: 0.88): 82.27

Obs. 3:
 home.dest (Perc.: 0.0): New York, NY
fare (Cumul.perc.: 0.85): 76.73
sex (Perc.: 0.0): female

Obs. 4:
 sibsp (Cumul.perc.: 1.0): 5.0
home.dest (Perc.: 0.0): Wiltshire, England Niagara Falls, NY
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 5:
 home.dest (Perc.: 0.0): Sweden Worcester, MA
sibsp (Cumul.perc.: 1.0): 4.0
age (Cumul.perc.: 0.04): 3.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 6:
 home.dest (Perc.: 0.0): Warwick, England

Obs. 7:
 home.dest (Perc.: 0.0): Huntington, WV

Obs. 8:
 home.dest (Perc.: 0.0): Paris, France
sex (Perc.: 0.0): female

Obs. 9:
 embarked (Perc.: 0.0): Q
home.dest (Perc.: 0.0): Co Cork, Ireland Charlestown, MA
pclass (Cumul.perc.: 1.0): 3.0

Obs. 10:
 home.dest (Perc.: 0.0): Liverpool / Montreal, PQ

Obs. 11:
 embarked (Perc.: 0.0): Q
home.dest (Perc.: 0.0): Ireland Brooklyn, NY
pclass (Cumul.perc.: 1.0): 3.0

Obs. 12:
 age (Cumul.perc.: 0.93): 57.0
home.dest (Perc.: 0.0): Southampton / New York, NY
sex (Perc.: 0.0): female

Obs. 13:
 home.dest (Perc.: 0.0): Austria
pclass (Cumul.perc.: 1.0): 3.0

Obs. 14:
 home.dest (Perc.: 0.0): Karberg, Sweden Jerome Junction, AZ
pclass (Cumul.perc.: 1.0): 3.0

Obs. 15:
 parch (Cumul.perc.: 1.0): 5.0
home.dest (Perc.: 0.0): Sweden Winnipeg, MN
pclass (Cumul.perc.: 1.0): 3.0

Obs. 16:
 sibsp (Cumul.perc.: 0.97): 3.0
home.dest (Perc.: 0.0): Winnipeg, MB
fare (Cumul.perc.: 1.0): 263.0
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 17:
 home.dest (Perc.: 0.0): New York, NY / Ithaca, NY
sex (Perc.: 0.0): female

Obs. 18:
 home.dest (Perc.: 0.0): Co Athlone, Ireland New York, NY
embarked (Perc.: 0.0): Q
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 19:
 home.dest (Perc.: 0.0): Worcester, MA

Obs. 20:
 home.dest (Perc.: 0.0): London
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 21:
 home.dest (Perc.: 0.0): Illinois, USA
pclass (Cumul.perc.: 1.0): 3.0

Obs. 22:
 home.dest (Perc.: 0.0): St Ives, Cornwall / Calumet, MI

Obs. 23:
 home.dest (Perc.: 0.0): Bangkok, Thailand / Roseville, IL

Obs. 24:
 home.dest (Perc.: 0.0): Croatia
pclass (Cumul.perc.: 1.0): 3.0

Obs. 25:
 home.dest (Perc.: 0.0): Youngstown, OH
fare (Cumul.perc.: 0.97): 164.87
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 26:
 home.dest (Perc.: 0.0): Dorking, Surrey, England
pclass (Cumul.perc.: 1.0): 3.0

Obs. 27:
 fare (Cumul.perc.: 0.84): 75.24
home.dest (Perc.: 0.0): Vancouver, BC

Obs. 28:
 home.dest (Perc.: 0.0): Liverpool

Obs. 29:
 home.dest (Perc.: 0.0): Boston, MA

Obs. 30:
 home.dest (Perc.: 0.0): Union Hill, NJ
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 31:
 home.dest (Perc.: 0.0): Plymouth, Devon / Detroit, MI
sex (Perc.: 0.0): female

Obs. 32:
 home.dest (Perc.: 0.0): Guernsey / Elizabeth, NJ

Obs. 33:
 sibsp (Cumul.perc.: 0.97): 2.0
home.dest (Perc.: 0.0): New York, NY
age (Cumul.perc.: 0.91): 55.0
sex (Perc.: 0.0): female

Obs. 34:
 home.dest (Perc.: 0.0): San Francisco, CA
fare (Cumul.perc.: 0.88): 81.86
age (Cumul.perc.: 0.9): 54.0
sex (Perc.: 0.0): female

Obs. 35:
 home.dest (Perc.: 0.0): Devon, England Wichita, KS
age (Cumul.perc.: 0.02): 1.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 36:
 home.dest (Perc.: 0.0): Paris / Montreal, PQ
sex (Perc.: 0.0): female

Obs. 37:
 home.dest (Perc.: 0.0): Southampton

Obs. 38:
 home.dest (Perc.: 0.0): Greenwich, CT
sex (Perc.: 0.0): female

Obs. 39:
 home.dest (Perc.: 0.0): Montreal, PQ
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 40:
 fare (Cumul.perc.: 0.9): 90.0
home.dest (Perc.: 0.0): New York, NY /  Stamford CT

Obs. 41:
 home.dest (Perc.: 0.0): Minneapolis, MN
fare (Cumul.perc.: 0.88): 82.27
sex (Perc.: 0.0): female

Obs. 42:
 home.dest (Perc.: 0.0): Austria
pclass (Cumul.perc.: 1.0): 3.0

Obs. 43:
 fare (Cumul.perc.: 0.98): 227.53
home.dest (Perc.: 0.0): New York, NY

Obs. 44:
 home.dest (Perc.: 0.0): Guernsey

Obs. 45:
 home.dest (Perc.: 0.0): Greenport, NY
sex (Perc.: 0.0): female

Obs. 46:
 home.dest (Perc.: 0.0): Ireland New York, NY
embarked (Perc.: 0.0): Q
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 47:
 home.dest (Perc.: 0.0): Bath, England / Massachusetts
sex (Perc.: 0.0): female

Obs. 48:
 home.dest (Perc.: 0.0): Strood, Kent, England Detroit, MI
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 49:
 home.dest (Perc.: 0.0): Pomeroy, WA

Obs. 50:
 home.dest (Perc.: 0.0): Deephaven, MN / Cedar Rapids, IA
fare (Cumul.perc.: 0.91): 106.42

Obs. 51:
 home.dest (Perc.: 0.0): Vancouver, BC

Obs. 52:
 home.dest (Perc.: 0.0): Ilford, Essex / Winnipeg, MB
sex (Perc.: 0.0): female

Obs. 53:
 home.dest (Perc.: 0.0): Bristol, Avon / Jacksonville, FL
sex (Perc.: 0.0): female

Obs. 54:
 sibsp (Cumul.perc.: 1.0): 5.0
home.dest (Perc.: 0.0): Wiltshire, England Niagara Falls, NY
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 55:
 home.dest (Perc.: 0.0): Greenport, NY

Obs. 56:
 fare (Cumul.perc.: 0.89): 86.5
home.dest (Perc.: 0.0): London, England
sex (Perc.: 0.0): female

Obs. 57:
 home.dest (Perc.: 0.0): Ottawa, ON
pclass (Cumul.perc.: 1.0): 3.0

Obs. 58:
 home.dest (Perc.: 0.0): West Hampstead, London / Neepawa, MB
sibsp (Cumul.perc.: 0.97): 2.0
fare (Cumul.perc.: 0.84): 73.5

Obs. 59:
 home.dest (Perc.: 0.0): New York, NY
fare (Cumul.perc.: 0.89): 83.47
sex (Perc.: 0.0): female

Obs. 60:
 home.dest (Perc.: 0.0): Bennington, VT

Obs. 61:
 sibsp (Cumul.perc.: 1.0): 5.0
home.dest (Perc.: 0.0): Wiltshire, England Niagara Falls, NY
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 62:
 home.dest (Perc.: 0.0): Montreal, PQ / Chesterville, ON
fare (Cumul.perc.: 0.95): 151.55
age (Cumul.perc.: 0.03): 2.0
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 63:
 home.dest (Perc.: 0.0): Basel, Switzerland

Obs. 64:
 home.dest (Perc.: 0.0): Ruotsinphytaa, Finland New York, NY
sibsp (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 65:
 age (Cumul.perc.: 0.95): 60.0
home.dest (Perc.: 0.0): Swindon, England
sex (Perc.: 0.0): female

Obs. 66:
 home.dest (Perc.: 0.0): Lucca, Italy / California

Obs. 67:
 home.dest (Perc.: 0.0): Scituate, MA

Obs. 68:
 home.dest (Perc.: 0.0): Cornwall / Akron, OH
age (Cumul.perc.: 0.04): 4.0
sex (Perc.: 0.0): female

Obs. 69:
 home.dest (Perc.: 0.0): London / Paris
sex (Perc.: 0.0): female

Obs. 70:
 home.dest (Perc.: 0.0): Devon, England Wichita, KS
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 71:
 home.dest (Perc.: 0.0): New York, NY
sex (Perc.: 0.0): female

Obs. 72:
 home.dest (Perc.: 0.0): San Francisco, CA
age (Cumul.perc.: 0.04): 4.0
fare (Cumul.perc.: 0.88): 81.86
parch (Cumul.perc.: 0.97): 2.0

Obs. 73:
 home.dest (Perc.: 0.0): Plymouth, Devon / Detroit, MI
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 74:
 home.dest (Perc.: 0.0): Altdorf, Switzerland
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 75:
 home.dest (Perc.: 0.0): Lakewood, NJ
fare (Cumul.perc.: 0.89): 83.16
sex (Perc.: 0.0): female

Obs. 76:
 home.dest (Perc.: 0.0): Rotherfield, Sussex, England Essex Co, MA
sibsp (Cumul.perc.: 0.97): 2.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 77:
 home.dest (Perc.: 0.0): St Leonards-on-Sea, England Ohio
sex (Perc.: 0.0): female

Obs. 78:
 home.dest (Perc.: 0.0): Lima, Peru

Obs. 79:
 embarked (Perc.: 0.0): Q
age (Cumul.perc.: 0.93): 57.0
home.dest (Perc.: 0.0): Glasgow / Bangor, ME

Obs. 80:
 home.dest (Perc.: 0.0): Ireland
embarked (Perc.: 0.0): Q
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 81:
 home.dest (Perc.: 0.0): Bryn Mawr, PA
fare (Cumul.perc.: 0.93): 120.0
parch (Cumul.perc.: 0.97): 2.0

Obs. 82:
 home.dest (Perc.: 0.0): Philadelphia, PA

Obs. 83:
 home.dest (Perc.: 0.0): Washington, DC

Obs. 84:
 home.dest (Perc.: 0.0): London

Obs. 85:
 home.dest (Perc.: 0.0): Seattle, WA / Toledo, OH

Obs. 86:
 fare (Cumul.perc.: 0.9): 90.0
home.dest (Perc.: 0.0): New York, NY /  Stamford CT
sex (Perc.: 0.0): female

Obs. 87:
 home.dest (Perc.: 0.0): Bergen, Norway
pclass (Cumul.perc.: 1.0): 3.0

Obs. 88:
 home.dest (Perc.: 0.0): Cornwall / Spokane, WA

Obs. 89:
 home.dest (Perc.: 0.0): Ruotsinphytaa, Finland New York, NY
sibsp (Cumul.perc.: 0.97): 3.0
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 90:
 home.dest (Perc.: 0.0): Liverpool / Montreal, PQ

Obs. 91:
 home.dest (Perc.: 0.0): Milwaukee, WI
fare (Cumul.perc.: 0.83): 71.0
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 92:
 age (Cumul.perc.: 0.97): 63.0
home.dest (Perc.: 0.0): Swindon, England

Obs. 93:
 home.dest (Perc.: 0.0): Little Onn Hall, Staffs
fare (Cumul.perc.: 0.86): 78.85

Obs. 94:
 home.dest (Perc.: 0.0): Barcelona, Spain / Havana, Cuba
sex (Perc.: 0.0): female

Obs. 95:
 home.dest (Perc.: 0.0): Indianapolis, IN

Obs. 96:
 fare (Cumul.perc.: 1.0): 512.33
home.dest (Perc.: 0.0): Austria-Hungary / Germantown, Philadelphia, PA

Obs. 97:
 home.dest (Perc.: 0.0): Bristol, England / New Britain, CT
sex (Perc.: 0.0): female

Obs. 98:
 home.dest (Perc.: 0.0): Newark, NJ
age (Cumul.perc.: 0.9): 54.0

Obs. 99:
 home.dest (Perc.: 0.0): Hudson, NY
fare (Cumul.perc.: 0.86): 77.96
age (Cumul.perc.: 0.97): 63.0
sex (Perc.: 0.0): female

Obs. 100:
 home.dest (Perc.: 0.0): Hudson, NY
fare (Cumul.perc.: 0.86): 77.96
sex (Perc.: 0.0): female

Obs. 101:
 home.dest (Perc.: 0.0): Bronx, NY
age (Cumul.perc.: 0.88): 52.0

Obs. 102:
 home.dest (Perc.: 0.0): New York, NY
age (Cumul.perc.: 0.91): 55.0

Obs. 103:
 home.dest (Perc.: 0.0): Montreal, PQ
age (Cumul.perc.: 0.91): 55.0

Obs. 104:
 home.dest (Perc.: 0.0): St Denys, Southampton, Hants
pclass (Cumul.perc.: 1.0): 3.0

Obs. 105:
 home.dest (Perc.: 0.0): Greece
pclass (Cumul.perc.: 1.0): 3.0

Obs. 106:
 home.dest (Perc.: 0.0): Haverford, PA / Cooperstown, NY
parch (Cumul.perc.: 0.98): 3.0
fare (Cumul.perc.: 0.99): 262.38
sex (Perc.: 0.0): female

Obs. 107:
 home.dest (Perc.: 0.0): Myren, Sweden New York, NY
pclass (Cumul.perc.: 1.0): 3.0

Obs. 108:
 home.dest (Perc.: 0.0): Syria Fredericksburg, VA
pclass (Cumul.perc.: 1.0): 3.0

Obs. 109:
 fare (Cumul.perc.: 0.86): 78.27
age (Cumul.perc.: 0.9): 54.0
home.dest (Perc.: 0.0): Brookline, MA
sex (Perc.: 0.0): female

Obs. 110:
 home.dest (Perc.: 0.0): Yoevil, England / Cottage Grove, OR
sex (Perc.: 0.0): female

Obs. 111:
 home.dest (Perc.: 0.0): Bangkok, Thailand / Roseville, IL
age (Cumul.perc.: 0.01): 0.83
parch (Cumul.perc.: 0.97): 2.0

Obs. 112:
 embarked (Perc.: 0.0): Q
home.dest (Perc.: 0.0): New York, NY
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 113:
 home.dest (Perc.: 0.0): Devon, England Wichita, KS
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 114:
 home.dest (Perc.: 0.0): Montreal, PQ

Obs. 115:
 home.dest (Perc.: 0.0): Hartford, CT
pclass (Cumul.perc.: 1.0): 3.0

Obs. 116:
 home.dest (Perc.: 0.0): New York, NY

Obs. 117:
 home.dest (Perc.: 0.0): Duluth, MN

Obs. 118:
 home.dest (Perc.: 0.0): Washington, DC
age (Cumul.perc.: 0.89): 53.0

Obs. 119:
 home.dest (Perc.: 0.0): Albany, NY

Obs. 120:
 home.dest (Perc.: 0.0): Paris, France

Obs. 121:
 home.dest (Perc.: 0.0): Tuxedo Park, NY
fare (Cumul.perc.: 0.94): 134.5

Obs. 122:
 parch (Cumul.perc.: 0.97): 2.0
home.dest (Perc.: 0.0): Finland / Minneapolis, MN
sex (Perc.: 0.0): female

Obs. 123:
 home.dest (Perc.: 0.0): Mamaroneck, NY
sex (Perc.: 0.0): female

Obs. 124:
 home.dest (Perc.: 0.0): Portugal / Sau Paulo, Brazil

Obs. 125:
 home.dest (Perc.: 0.0): Mexico City, Mexico

Obs. 126:
 home.dest (Perc.: 0.0): London, England

Obs. 127:
 home.dest (Perc.: 0.0): Altdorf, Switzerland
pclass (Cumul.perc.: 1.0): 3.0

Obs. 128:
 home.dest (Perc.: 0.0): Trenton, NJ

Obs. 129:
 home.dest (Perc.: 0.0): New York, NY
fare (Cumul.perc.: 0.88): 82.17

Obs. 130:
 home.dest (Perc.: 0.0): West Haven, CT
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 131:
 home.dest (Perc.: 0.0): Elmira, NY / Orange, NJ

Obs. 132:
 home.dest (Perc.: 0.0): Winnipeg, MB
fare (Cumul.perc.: 0.96): 153.46

Obs. 133:
 home.dest (Perc.: 0.0): London / Paris

Obs. 134:
 home.dest (Perc.: 0.0): Amenia, ND

Obs. 135:
 home.dest (Perc.: 0.0): Huntington, WV
sex (Perc.: 0.0): female

Obs. 136:
 home.dest (Perc.: 0.0): Syria Youngstown, OH
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 137:
 home.dest (Perc.: 0.0): Hamilton, ON

Obs. 138:
 home.dest (Perc.: 0.0): Bryn Mawr, PA, USA

Obs. 139:
 home.dest (Perc.: 0.0): Syria Ottawa, ON
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 140:
 home.dest (Perc.: 0.0): Goteborg, Sweden Huntley, IL
pclass (Cumul.perc.: 1.0): 3.0

Obs. 141:
 home.dest (Perc.: 0.0): New York, NY
sex (Perc.: 0.0): female

Obs. 142:
 home.dest (Perc.: 0.0): Bristol, England Cleveland, OH
pclass (Cumul.perc.: 1.0): 3.0

Obs. 143:
 home.dest (Perc.: 0.0): Denmark Hill, Surrey / Chicago

Obs. 144:
 home.dest (Perc.: 0.0): England / Bennington, VT
sex (Perc.: 0.0): female

Obs. 145:
 age (Cumul.perc.: 0.92): 56.0
home.dest (Perc.: 0.0): St James, Long Island, NY

Obs. 146:
 home.dest (Perc.: 0.0): Lakewood, NJ
fare (Cumul.perc.: 0.89): 83.16

Obs. 147:
 home.dest (Perc.: 0.0): England / Detroit, MI

Obs. 148:
 home.dest (Perc.: 0.0): New York, NY
sex (Perc.: 0.0): female

Obs. 149:
 fare (Cumul.perc.: 0.99): 262.38
home.dest (Perc.: 0.0): Cooperstown, NY
sex (Perc.: 0.0): female

Obs. 150:
 home.dest (Perc.: 0.0): ?Havana, Cuba

Obs. 151:
 home.dest (Perc.: 0.0): Montreal, PQ
fare (Cumul.perc.: 0.91): 93.5

Obs. 152:
 home.dest (Perc.: 0.0): Sweden Winnipeg, MN
sibsp (Cumul.perc.: 1.0): 4.0
age (Cumul.perc.: 0.04): 4.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 153:
 home.dest (Perc.: 0.0): Lucca, Italy / California
sex (Perc.: 0.0): female

Obs. 154:
 age (Cumul.perc.: 0.9): 54.0
home.dest (Perc.: 0.0): Frankfort, KY

Obs. 155:
 home.dest (Perc.: 0.0): Finland / Washington, DC
sex (Perc.: 0.0): female

Obs. 156:
 home.dest (Perc.: 0.0): Sweden Joliet, IL
pclass (Cumul.perc.: 1.0): 3.0

Obs. 157:
 home.dest (Perc.: 0.0): Oslo, Norway Bayonne, NJ

Obs. 158:
 home.dest (Perc.: 0.0): Elkins Park, PA
fare (Cumul.perc.: 0.97): 211.5
sex (Perc.: 0.0): female

Obs. 159:
 home.dest (Perc.: 0.0): Elkins Park, PA
fare (Cumul.perc.: 0.97): 211.5
parch (Cumul.perc.: 0.97): 2.0

Obs. 160:
 home.dest (Perc.: 0.0): Bulgaria Chicago, IL
pclass (Cumul.perc.: 1.0): 3.0

Obs. 161:
 age (Cumul.perc.: 0.0): 0.67
home.dest (Perc.: 0.0): Detroit, MI

Obs. 162:
 home.dest (Perc.: 0.0): New York, NY
age (Cumul.perc.: 0.92): 56.0

Obs. 163:
 sibsp (Cumul.perc.: 1.0): 5.0
home.dest (Perc.: 0.0): Wiltshire, England Niagara Falls, NY
age (Cumul.perc.: 0.02): 1.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 164:
 fare (Cumul.perc.: 0.98): 221.78
home.dest (Perc.: 0.0): New York, NY
age (Cumul.perc.: 0.99): 67.0

Obs. 165:
 home.dest (Perc.: 0.0): Paris / Montreal, PQ
age (Cumul.perc.: 0.02): 1.0
parch (Cumul.perc.: 0.97): 2.0

Obs. 166:
 home.dest (Perc.: 0.0): London New York, NY
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 167:
 home.dest (Perc.: 0.0): New York, NY

Obs. 168:
 home.dest (Perc.: 0.0): Rochester, NY

Obs. 169:
 embarked (Perc.: 0.0): Q
home.dest (Perc.: 0.0): Co Limerick, Ireland Sherbrooke, PQ
pclass (Cumul.perc.: 1.0): 3.0

Obs. 170:
 home.dest (Perc.: 0.0): Halesworth, England

Obs. 171:
 home.dest (Perc.: 0.0): Cornwall / Houghton, MI

Obs. 172:
 home.dest (Perc.: 0.0): Guntur, India / Benton Harbour, MI
sibsp (Cumul.perc.: 0.97): 2.0
age (Cumul.perc.: 0.02): 1.0

Obs. 173:
 home.dest (Perc.: 0.0): Sweden / Arlington, NJ

Obs. 174:
 home.dest (Perc.: 0.0): New York, NY
sex (Perc.: 0.0): female

Obs. 175:
 home.dest (Perc.: 0.0): New York, NY
fare (Cumul.perc.: 0.87): 79.2

Obs. 176:
 home.dest (Perc.: 0.0): Bournemouth, England Newark, NJ
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 177:
 age (Cumul.perc.: 0.88): 52.0
home.dest (Perc.: 0.0): Toronto, ON

Obs. 178:
 home.dest (Perc.: 0.0): Russia New York, NY
sex (Perc.: 0.0): female

Obs. 179:
 sibsp (Cumul.perc.: 0.97): 3.0
home.dest (Perc.: 0.0): Winnipeg, MB
fare (Cumul.perc.: 1.0): 263.0
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 180:
 home.dest (Perc.: 0.0): Belfast, NI

Obs. 181:
 home.dest (Perc.: 0.0): New York, NY

Obs. 182:
 home.dest (Perc.: 0.0): Lower Clapton, Middlesex or Erdington, Birmingham
pclass (Cumul.perc.: 1.0): 3.0

Obs. 183:
 home.dest (Perc.: 0.0): West Hampstead, London / Neepawa, MB
sibsp (Cumul.perc.: 0.97): 2.0
fare (Cumul.perc.: 0.84): 73.5

Obs. 184:
 home.dest (Perc.: 0.0): Sweden Akeley, MN
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 185:
 home.dest (Perc.: 0.0): Somerset / Bernardsville, NJ
fare (Cumul.perc.: 0.82): 65.0
parch (Cumul.perc.: 0.97): 2.0
sex (Perc.: 0.0): female

Obs. 186:
 parch (Cumul.perc.: 0.97): 2.0
home.dest (Perc.: 0.0): Detroit, MI
sex (Perc.: 0.0): female

Obs. 187:
 home.dest (Perc.: 0.0): Ireland New York, NY
embarked (Perc.: 0.0): Q
pclass (Cumul.perc.: 1.0): 3.0

Obs. 188:
 home.dest (Perc.: 0.0): Boston, MA

Obs. 189:
 home.dest (Perc.: 0.0): Duluth, MN
sex (Perc.: 0.0): female

Obs. 190:
 home.dest (Perc.: 0.0): Montevideo, Uruguay

Obs. 191:
 home.dest (Perc.: 0.0): Montevideo, Uruguay

Obs. 192:
 home.dest (Perc.: 0.0): Calgary, AB

Obs. 193:
 home.dest (Perc.: 0.0): Lexington, MA
fare (Cumul.perc.: 0.92): 113.28
sex (Perc.: 0.0): female

Obs. 194:
 home.dest (Perc.: 0.0): Bulgaria Chicago, IL
pclass (Cumul.perc.: 1.0): 3.0

Obs. 195:
 home.dest (Perc.: 0.0): Portugal
pclass (Cumul.perc.: 1.0): 3.0

Obs. 196:
 home.dest (Perc.: 0.0): Milwaukee, WI
age (Cumul.perc.: 0.98): 64.0
sex (Perc.: 0.0): female

Obs. 197:
 fare (Cumul.perc.: 0.98): 227.53
home.dest (Perc.: 0.0): New York, NY
sex (Perc.: 0.0): female

Obs. 198:
 home.dest (Perc.: 0.0): Oskarshamn, Sweden Minneapolis, MN
pclass (Cumul.perc.: 1.0): 3.0

Obs. 199:
 home.dest (Perc.: 0.0): London Skanteales, NY
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 200:
 embarked (Perc.: 0.0): Q
home.dest (Perc.: 0.0): Co Sligo, Ireland Hartford, CT
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 201:
 home.dest (Perc.: 0.0): Syria Ottawa, ON
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 202:
 home.dest (Perc.: 0.0): Ottawa, ON
pclass (Cumul.perc.: 1.0): 3.0
sex (Perc.: 0.0): female

Obs. 203:
 home.dest (Perc.: 0.0): London, England / Marietta, Ohio and Milwaukee, WI
sex (Perc.: 0.0): female

Obs. 204:
 home.dest (Perc.: 0.0): Cape Town, South Africa / Seattle, WA
sex (Perc.: 0.0): female

Obs. 205:
 home.dest (Perc.: 0.0): West Bromwich, England Pontiac, MI
sibsp (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 206:
 home.dest (Perc.: 0.0): Isleworth, England
fare (Cumul.perc.: 0.83): 66.6

Obs. 207:
 home.dest (Perc.: 0.0): Somerset / Bernardsville, NJ
fare (Cumul.perc.: 0.82): 65.0

Obs. 208:
 home.dest (Perc.: 0.0): Nice, France
parch (Cumul.perc.: 0.97): 2.0

Obs. 209:
 home.dest (Perc.: 0.0): Philadelphia, PA

Obs. 210:
 home.dest (Perc.: 0.0): Rotherfield, Sussex, England Essex Co, MA
sibsp (Cumul.perc.: 0.97): 2.0
parch (Cumul.perc.: 0.97): 2.0
pclass (Cumul.perc.: 1.0): 3.0

Obs. 211:
 home.dest (Perc.: 0.0): Cornwall

Obs. 212:
 home.dest (Perc.: 0.0): Ilfracombe, Devon

Obs. 213:
 fare (Cumul.perc.: 0.98): 247.52
home.dest (Perc.: 0.0): Montreal, PQ
sex (Perc.: 0.0): female

Obs. 214:
 home.dest (Perc.: 0.0): Stockholm, Sweden / Washington, DC

Obs. 215:
 fare (Cumul.perc.: 0.98): 247.52
home.dest (Perc.: 0.0): Montreal, PQ
sex (Perc.: 0.0): female

Obs. 216: